@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header{
    background-color: black;
    color: blue;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    padding-top: 16px;
}

ul{
    color:red;
    display:flex;
    gap:16px;
    justify-content: flex-end; 
    list-style-type: none;
    padding: 0px;
}

.logo{
    font-size: large;
    font-weight: 700;
}

a{
    text-decoration: none;
    transition-duration: 0s;
    color:red;
}

a:hover{
    color:gold;
}

button{
    background-color: yellow;
    color: orange;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: 700;
    padding: 8px 16px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: brown;
    color:gold;
    cursor: pointer;
}

.big-section{
    gap:32px;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;

}

.big-text{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap:8px;
}

#cruelty-squad-img{
    display: block;
    
}

.big-text-main{
    font-size: 48px;
    font-weight: 900;
}

.big-text-sec{
    color:aqua;
}

.info-section{
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20vh 10vw;
}

.info-header{
    color: red;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    gap:48px;
    justify-content: space-between;
}

.info-item{
    align-items: space-between;
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 250px;
}

.info-image{
    border:2px solid black;
    border-radius: 8px;
    flex:none;
}

.info-text{
    text-align: center;
}

.quote-section{
    background-color: lightgray;
    color:gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20vh 10vw;

}

.quote{
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.quote-reference{
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    text-align: center;
    padding: 24px 10vw;
}

.footer-text{
    text-align: center;
}